.bannerWrapper {
  width: 100%;
  background-color: #222939;
}

.hero {
  position: relative;
  width: 100%;
  height: 670px;
  overflow: hidden;
}

.heroImgDesk {
  display: block;
  object-fit: cover;
  object-position: top center;
}
.heroImgMobi {
  display: none;
}

.logoWrapper {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.contentWrapper {
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameWrapper {
  width: 100%;
  /* min-height: 920px; */
  padding-top: 0px;
  padding-bottom: 20px;
  background-image:
    linear-gradient(rgba(33, 41, 59, 1), rgba(35, 41, 57, 0.9)), url('/achi/timer/game-banner.jpg');

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.mainGameWrapper {
  max-width: 620px;
  margin: 0 auto;

  padding: 0 25px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.greetingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: absolute;
  bottom: 20px;
  max-width: 620px;

  left: 50%;
  transform: translateX(-50%);
}

.titleWrapper {
  display: flex;
  gap: 6px;
}

.title {
  font-size: 64px;
  font-weight: 800;
  /* letter-spacing: 1px; */
  background: linear-gradient(to right, #ffffff, #e2e8f0, #90a1b9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.title2 {
  font-size: 64px;
  font-weight: 800;
  /* letter-spacing: 1px; */
  /* color: #caab72; */
  background: linear-gradient(to right, #caab72, #927134);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #eaebed;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 40px 30px 100px 30px;

  border: 1px solid rgba(202, 171, 114, 0.328);
  border-radius: 24px;
  background-color: #222939;
  box-shadow: 0 10px 30px rgba(227, 194, 29, 0.091);
  background-image:
    radial-gradient(circle at top right, rgba(202, 171, 114, 0.15), transparent 30%),
    radial-gradient(circle at bottom left, rgba(159, 178, 249, 0.08), transparent 100%);
}

.challenge {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #caab72;
}

.daysWrapper {
  border: 1px solid rgba(202, 171, 114, 0.2);

  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;

  padding: 10px 25px;
  border-radius: 40px;
  margin-top: 30px;

  /* spooky light blue background */
  background: #2d3443cc;

  /* glow effect */
  box-shadow:
    0 0 10px rgba(120, 149, 255, 0.12),
    0 0 20px rgba(120, 149, 255, 0.084);

  backdrop-filter: blur(6px);
}

.daysTitle {
  color: #cad5e2;
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.secondsWrapper {
  display: flex;
  flex-direction: column;
  align-items: end;
  position: relative;
}

.seconds {
  color: #ffffff;
  font-weight: 900;
  font-size: 96px;
  letter-spacing: 1px;
}

.secondsText {
  color: #d3d4d7;
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  position: absolute;
  top: 115px;
  right: 10px;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 100%;
}

.card label {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding: 0px 0px 0px 18px;
}

.card input {
  height: 40px;
  border-radius: 200px;
  border: 1px solid #4e5461;
  padding: 26px 16px;
  color: white;
  font-weight: 700;
}

.card input::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
  font-size: 14px;
  font-weight: 700;
}

.card input:focus {
  border-color: #caab72;
  outline: none;
}

.submitButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  padding: 14px 0px;
  margin-top: 20px;

  border-radius: 16px;
  border: none;
  cursor: pointer;

  /* gold gradient */
  background: linear-gradient(to right, #caab72, #927134);

  /* subtle depth */
  /* box-shadow: 0 6px 16px rgba(197, 166, 108, 0.395); */
  box-shadow:
    0 4px 12px rgba(56, 56, 56, 0.35),
    /* depth */ 0 0 10px rgba(202, 171, 114, 0.25),
    /* soft gold glow */ 0 0 20px rgba(202, 171, 114, 0.15); /* outer halo */

  position: relative;
  overflow: hidden;
}

.submitText {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0px;
}

.card2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #222939;

  border: 1px solid rgba(202, 171, 114, 0.3);
  background-color: #222939;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-image:
    radial-gradient(circle at top left, rgba(202, 171, 114, 0.15), transparent 40%),
    radial-gradient(circle at bottom right, rgba(120, 150, 255, 0.08), transparent 70%);
}

.gameRulesTitle {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  display: flex;
  gap: 6px;
  margin-bottom: 25px;
}

.gameRulesWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.gameRulesTitle2 {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0px;
  display: flex;
  align-items: start;
  gap: 10px;
}

.gameRulesTitle2 span {
  font-weight: 900;
}
